::selection {
	background: transparent;
}

p {
	margin: 0;
	font: 12px/150% Arial;
	text-align: center;
	color: #888;
}

p a {
	color: #888;
}

body {
	background: url(../assets/images/background.png) top left no-repeat;
}

#controls {
	text-align: center;
}

#controls button {
	cursor: pointer;
	outline: none;
	padding: 10px 20px;
	margin: 25px 2px;
	border: 0;
	border-radius: 4px;
	background: #001F1F;
	font: bold 14px Arial;
	text-align: center;
	text-transform: uppercase;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
	color: #fff;
}

#controls button:hover {
	background: #003333;
}

#puzzle {
	position: absolute;
    width: 405px;
    height: 405px;
    top: 120px;
    left: 120px;
    border: 8px solid #001F1F;
    border-radius: 4px;
    background-color: black;
    transform: rotate(-4deg) scale(1);
}

.button {
	position: absolute;
    width: 100px;
    height: 100px;
    top: 120px;
	left: 120px;
	cursor: pointer;
}

.go{
	background: url('../assets/images/buttons/go.png');
	top: 550px;
    left: 900px;
    width: 150px;
    height: 150px;
}
.next{
	background: url('../assets/images/buttons/next.png');
	top: 530px;
    left: 450px;
}

.prev{
	background: url('../assets/images/buttons/prev.png');
	top: 550px;
    left: 100px;
}

.exit{
	background: url('../assets/images/buttons/exit.png');
	top: 100px;
    left: 1000px;
}

.help{
	background: url('../assets/images/buttons/help.png');
    top: 400px;
    left: 680px;
}
#puzzle span {
	position: absolute;
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 4px;
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.7);
	/*background-image: url(../assets/images/400x400/2.jpg);*/
}

#puzzle span.number {
	cursor: pointer;
	font: bold 36px/80px Arial;
	text-align: center;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
	color: #fff;
}

#puzzle span.empty {
	background: transparent;
}

/* #puzzle span.number.light{background: #226666;}
#puzzle span.number.dark{background: #003333;} */
#puzzle.animate span {
	-webkit-transition: 0.25s left, 0.25s top;
	transition: 0.25s left, 0.25s top;
}

#description {
	text-align: center;
}

#preview {	
    position: absolute;
    width: 200px;
    height: 200px;
    top: 250px;
    left: 560px;
    border: 2px solid #001F1F;
    border-radius: 4px;
    background-color: transparent;
	transform: rotate(2deg) scale(0.7);	
    background-size: cover;
}

.f-1 {
	background-position: 0 0;
}

.f-2 {
	background-position: -80px 0;
}

.f-3 {
	background-position: -160px 0;
}

.f-4 {
	background-position: -240px 0;
}

.f-5 {
	background-position: -320px 0;
}

.f-6 {
	background-position: 0 -80px;
}

.f-7 {
	background-position: -80px -80px;
}

.f-8 {
	background-position: -160px -80px;
}

.f-9 {
	background-position: -240px -80px;
}

.f-10 {
	background-position: -320px -80px;
}

.f-11 {
	background-position: 0 -160px;
}

.f-12 {
	background-position: -80px -160px;
}

.f-13 {
	background-position: -160px -160px;
}

.f-14 {
	background-position: -240px -160px;
}

.f-15 {
	background-position: -320px -160px;
}

.f-16 {
	background-position: 0 -240px;
}

.f-17 {
	background-position: -80px -240px;
}

.f-18 {
	background-position: -160px -240px;
}

.f-19 {
	background-position: -240px -240px;
}

.f-20 {
	background-position: -320px -240px;
}

.f-21 {
	background-position: 0 -320px;
}

.f-22 {
	background-position: -80px -320px;
}

.f-23 {
	background-position: -160px -320px;
}

.f-24 {
	background-position: -240px -320px;
}